@import url('fonts.css');

body{font-family: 'ProximaNova'; font-size: 16px; color: #000;}
h1,h2,h3,h4,h5,h6{font-family: 'ProximaNova'; font-weight: bold;}
a{color: #09b8d5;}
a:hover{text-decoration: none;}
#topnavbar{margin: 0; background: #fff;}
#topnavbar .navbar-nav{float: none; width: 100%; text-align: center;}
#topnavbar .navbar-nav li{float: none; display: inline-block;}
#topnavbar .navbar-nav li a{font-family: 'HelveticaNeue'; font-size: 14px; color: #3f3f3f; padding: 22px 75px;}

.big-hero{min-height: 100vh; background: #000; color: #fff; display: flex; flex-direction: column; justify-content: center;}
.big-hero .container{height: 100%;}
.big-hero h1{font-family: 'AlternateGothicNo2BT'; font-size: 130px; line-height: 0.9; margin: 0;}

.big-title{font-size: 64px; font-weight: bold; position: relative;}
.big-title.quote:after{content: " "; width: 68px; height: 60px; position: absolute; top: -12px; left: -35px; background: url(../img/quotes.svg) left top no-repeat transparent; z-index: -1;}

.w750 .container{max-width: 750px;}
.container.w860{max-width: 860px;}
.content{padding-top: 68px; padding-bottom: 68px;}
.content p{margin-bottom: 28px; line-height: 1.65;}
.content .blue-title{margin: 0 0 15px; color: #09b8d5; font-size: 26px;}
.content .embed-responsive{margin-top: 50px;}
.feature-update{margin-top: 65px;}
.content-black{background: #1b1a1f; color: #fff;}
.cta-block{text-align: center; padding: 260px 15px; background: url(../img/cta-bg.jpg) center center no-repeat #d8d8d8; background-size: cover;}

.btn-cta{font-family: 'ProximaNova'; font-size: 24px; font-weight: bold; line-height: 1.25; border-radius: 3px; color: #09b8d5; padding: 45px 76px; border:0;}

.changes-block{text-align: center; margin-top: 66px;}
.changes-block h3.blue-title{margin: 36px 0 15px;}

.footer{background: #000; color: #fff; position: relative; padding: 85px 20px 18px;}
.footer-widget-links{max-width: 264px; margin: 0 auto 50px;}
.footer-widget-links a{display: block; color: #fff; margin-bottom: 18px;}
.footer-floating{position: absolute; bottom: 0; right: 0;}